{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>INDEX</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
</head>
<body>

  <br>
  <br>

  <div class="container">
    <h1 style="text-align:center"><b>PRODUTOS</b></h1>
  </div>

  <div class="container">
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo produto</th>
            <th scope="col">---</th>
          </tr>
        </thead>
        <tbody>
        {% for dbs in db %}
         <tr>
            <th>{{dbs.id}}</th>
            <td>{{dbs.descricao}}</td>
            <td>{{dbs.valor}}</td>
            <td>{{dbs.fktipoproduto}}</td>
            <td>
              <a href="{% url 'editar' dbs.id %}">Editar</a>
              <a href="{% url 'apagar' dbs.id %}">Apagar</a>
            </td>
          </tr>

        {% endfor %}
      
        </tbody>
      </table>
  </div>

  <div class="container">
    <div class="btn-group" role="group" aria-label="Exemplo básico">
      <a type="button" class="btn btn-secondary" href="/produto/insert_produto/">Cadastrar produto</a>
      <a type="button" class="btn btn-secondary" href="/produto/tipoproduto/">Tipo Produto</a>
      <a type="button" class="btn btn-secondary" href="/produto/home/">Voltar</a>
    </div>
  </div>
  



     
      

</body>
</html>